.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myDrawing {
    border: 2px solid #333;
    border-radius: 7px;
    width: 600px;
    height: 600px;
    background: url('grid.png');
    position: relative;
    top: 30px;
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,0,0,0.01);
}

svg {
    position: absolute;
}

.shapeButtons {
    display: flex;
    align-items: center;
}

.rotationButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 125px;
    height: 45px;
    text-transform: uppercase;
    font-weight: 600;
    background: #333;
    color: #fff;
}

button.active {
    background: green;
}